<?xml version="1.0"?>
<connectionStrings>

  <!--<add name="TCConnection" connectionString="Data Source=103.21.58.192;initial catalog=delhiohl_dbdelhiday;user id=dbdelhidayuser;Password=delhi!@#2019;MultipleActiveResultSets=true;Connect TimeOut=15" providerName="System.Data.SqlClient"/>-->
  <!--<add name="TCConnection" connectionString="Data Source=10.130.19.15;initial catalog=abc_eco;user id=sa;Password=123;MultipleActiveResultSets=true;Connect TimeOut=15" providerName="System.Data.SqlClient"/>-->
  <!--<add name="TCConnection" connectionString="Data Source=43.231.127.215;initial catalog=Db_dotcomcomputer;user id=Db_dotcomcomputeruser;Password=Wmgo12$2;MultipleActiveResultSets=true;Connect TimeOut=15" providerName="System.Data.SqlClient"/>-->
  <add name="TCConnection" connectionString="Data Source=103.74.54.164,1533;initial catalog=dbdotcomcomputer;user id=Db_dotcomcomputeruser;Password=Wmgo12$2;MultipleActiveResultSets=true;Connect TimeOut=15" providerName="System.Data.SqlClient"/>
  <!--<add name="TCConnection" connectionString="Data Source=JAIGURUDEV-PC;initial catalog= DB_ARVIND_DOTCOM2; Trusted_connection=yes; MultipleActiveResultSets=true; Connect TimeOut=15;Max Pool Size=500;" providerName="System.Data.SqlClient"/>-->

</connectionStrings>
